<div id="main-container">
  <canvas id="hiddenCanvas" resize></canvas>
  <canvas id="main" resize></canvas>
</div>


<div id="toolbar">
  Setting point {{ pointNumber }} - Zoom {{ zoom }}% -
  <input type="file" (change)="onFileChanged($event)" />
  <div class="spacer-36"></div>
  <button class="btn btn-primary" data-toggle="modal" data-target="#helpModal">How to use</button>&nbsp;&nbsp;
  <a href="https://www.buymeacoffee.com/Webvoid" target="_blank" rel="noopener noreferer"><button class="btn btn-success">Buy me a cofee !</button></a>
</div>

<div id="dumper">
  <pre>{{ dumpedCoordinates }}</pre>
  <input type="button" value="Clear" (click)="coordinates = {}" class="btn btn-secondary" />
  <!-- <input type="button" value="Save" (click)="save()" class="btn btn-success float-right" /> -->
  <a class="float-right" [download]="importedFileName + '.json'" [href]="downloadUrl" *ngIf="downloadUrl"><button class="btn btn-success">Save</button></a>
  <div *ngIf="raster" class="top-6">
    <a class="float-right" [download]="importedFileName + '.png'" [href]="downloadImageUrl" *ngIf="downloadImageUrl"><button class="btn btn-primary">Save current image</button></a>
  </div>
</div>

<div class="modal" id="coordinatesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter coordinates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          Latitude:
          <input class="form-control" [(ngModel)]="latitude" />
        </div>
        <div class="form-group">
          Longitude:
          <input class="form-control" [(ngModel)]="longitude" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="validateCoordinates()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div id="version">Anything2Avitab v{{ VERSION }}</div>

<div class="modal" id="helpModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Here is how to use this service:</h3>
        <ol>
          <li>Load in a pdf or image using the top right menu (loaded files have to be north oriented upward. Supported formats: PNG & PDF)</li>
          <li>Click on a point of the loaded file (you can zoom using scroll and move dragging the document)</li>
          <li>Enter latitude & longitude of the clicked point (refer to the "Input formats" section below)</li>
          <li>Repeat with a second point</li>
          <li>Click the "Save" button (bottom right) and save the file in the same folder as your image using the <strong>exact</strong> same name as the original document with just <code>.json</code> after it</li>
          <li>Place both the image and the json file in your <code>X-Plane\Resources\plugins\AviTab\MapTiles\Mercator\</code> folder (it can be in any subfolder level for organization, for example Mercator\LFMT\Approach\)</li>
        </ol>
        Now in Avitab:
        <ol>
          <li>Go to the <code>Map</code> section</li>
          <li>Click the top right menu icon</li>
          <li>Go to the <code>Mercator</code> menu</li>
          <li>Load in your file</li>
        </ol>
        <p>At this step, you SHOULD see your map with your plane on it (bold red drawed). If you don't, click the top right arrowy icon. This should activate Plane Tracking.</p>
        <strong>Supported input formats</strong>
        <ul>
          <li>Decimal: 16.2, 2.5, 6.50, 13.05</li>
          <li>Degrees: 13°30', 13°, 13°30</li>
        </ul>

        <p><strong>IMPORTANT IF WORKING WITH PDF</strong></p>
        <p>When working with pdf with Avitab and this service, you have two solutions:</p>
        <ol>
          <li><strong>Keep the original pdf page to open in Avitab</strong>: this will grand you the ability to zoom as you wish, most of the time without deformation. In this case, and when prompted, <strong>do not edit the PDF import zoom factor</strong></li>
          <li><strong>Use the service to extract a page from the pdf as an image</strong>: in this case, you can select a PDF import zoom factor when asked. It will permit you to have a higher quality exported image and also a more precise flight-to-image tracking. In this case tho, you shall not forget to export the generated image using the <code>Save current image</code> button (bottom left corner), and to rename the exported JSON to match the <code>name_of_the_exported_image_WITH_EXTENSION<strong>.json</strong></code></li>
        </ol>

        Please report <strong>ANY</strong> bug on the X-Plane forum thread (&lt;link goes here&gt;) with at least:
        <ul>
          <li>Used browser</li>
          <li>The document you're trying to load</li>
          <li>The interface version (bottom left corner)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
